* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 250px;
  height: 250px;
}

.header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 20px;
}
.name {
  margin-left: 40px;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 7px;
}
.links {
  margin-right: 20px;
}
.section1 {
  background: slateblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 10px;
}
.list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
}
.section2 {
  display: flex;
}
.gallery {
  display: grid;
  grid-gap: 5px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "img1  img2"
    "img3  img4";
}
.text {
  transition: opacity 0.5s ease;
  grid-area: text;
  display: flex;
  align-items: center;
  width: 60%;
}
ul {
  margin-left: 100px;
}
li {
  padding: 5px 0px 5px 0px;
}
.img1 {
  cursor: pointer;
  opacity: 0.5;
  grid-area: img1;
}
.img2 {
  opacity: 0.5;
  grid-area: img2;
}
.img3 {
  opacity: 0.5;
  grid-area: img3;
}
.img4 {
  opacity: 0.5;
  grid-area: img4;
}

.footer {
  margin-top: 2rem;
  display: flex;
  background: rgb(134, 134, 134);
  height: 300px;
  justify-content: space-between;
  align-items: center;
}
.certificate {
  margin-top: 5px;
  width: 200px;
  height: 200px;
}
.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.img1:hover {
  opacity: 1;
  color: white;
}
.img2:hover {
  opacity: 1;
  color: white;
}
.img3:hover {
  opacity: 1;
  color: white;
}
.img4:hover {
  opacity: 1;
  color: white;
}
input {
  padding: 3px;
  border: none;
  border-radius: 5%;
}
#submit {
  width: 100px;
  padding: 3px 0px;
}
.text2 {
  transition: opacity 0.5s ease 1.5s;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  right: 200px;
  top: 150px;
}

div.wyjazd {
  animation: wyjazd 1s ease;
  opacity: 0;
  pointer-events: none;
}

div.wjazd {
  animation: wjazd 1s ease;
  animation-delay: 1s;
  opacity: 1;
  pointer-events: all;
}

@keyframes wyjazd {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wjazd {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
